@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  background-color: rgb(230, 244, 250);
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  box-shadow: 0px 2px 3px 1px rgb(122, 121, 121);
  background: whitesmoke;
}
.nav-center {
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.nav-center h4 {
  color: #1486dd;
  font-size: 30px;
  margin: 0;
}
.nav-links {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  list-style: none;
}
.nav-links li a {
  color: rgb(9, 6, 6);
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}
.nav-links li a:hover {
  color: #1486dd;
}
.page-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
}
.page-body h4 {
  background-color: #333;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  padding: 10px 20px;
}
.page-body h4 span {
  color: #0091ff;
  letter-spacing: 2px;
  text-transform: capitalize;
}
.page-body button {
  border: 2px solid #333;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  padding: 10px 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}
